
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre DJI</h5>
        <h3>Nacimos para promover tecnologia que haga mas eficiente el riego de cultivos</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit blanditiis aperiam pariatur, nostrum, nihil voluptatum esse quas exercitationem molestiae provident doloribus iste fugiat! Illo, eius. Voluptatibus magni temporibus aut inventore.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/mantenimiento.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/financiamiento.png" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Dji ofrece planes de financiamiento, envio y capacitación gratuita..</p>
        </blockquote>
        <figure><small>LOREM IPSUM</small>
          <h4>Dimasur | DJI</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Catalago de Drones</h5>
        <h3>Drones agricolas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea mollitia quos sed numquam, hic quod unde blanditiis est, quia modi perferendis, odit qui ipsam neque iusto deserunt libero eveniet.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/T30.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/T10.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Drones especializados al trabajo de campos agricolas</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestias alias possimus quibusdam sapiente ducimus necessitatibus deserunt at, provident recusandae, quo, officiis iusto modi saepe pariatur nulla est vero! Exercitationem inventore optio quis, mollitia iste odit nisi dignissimos soluta sint placeat at quo numquam voluptatem quos, sapiente modi omnis aperiam!</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>